[run]
branch = True
source = django-address

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = False
omit =
    tests/*
[html]
directory = htmlcov