[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jinja2 = "*"
pytest-django = "*"
wemake-python-styleguide = "*"
parameterized = "*"
coverage = "*"
pytest = "*"
black = "==19.10b0"
pytest-pythonpath = "*"
freezegun = "*"
sphinx = "*"
rinohtype = "*"
autoflake = "*"
pytest-cov = "*"

[packages]
django = "*"
environs = "*"
structlog = "*"
requests = "*"
psycopg2-binary = "*"
typing-extensions = "*"
swapper = "*"

[requires]
python_version = "3.8"
